#ContainerNewParther {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-secondary-two);
  text-align: justify;
}

#FormInputs {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  background-color: var(--color-secondary-six);
  width: 80%;
}

#PartnerImg {
  width: 137px;
  max-width: 80%;
}

#FormInputs form,
label,
h4,
p,
div {
  background-color: var(--color-secondary-six);
}

#FormInputs input {
  /* margin: 0.5rem; */
  background-color: var(--color-secondary-six);
  border: 1px solid #558AF2;
  border-radius: 5px;
}