* {
    background-color: var(--color-background);
}

.main {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    margin-top: 10%;
    font-size: large;
    font-weight: 600;
}

label {
    color: var(--color-text);
}

input {
    padding: 0.4rem;
    border: 2px solid var(--color-primary-one);
    border-radius: 5px 5px;
}

.rowHr {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-text);
}

hr {
    border: 0.1rem solid var(--color-text);
    opacity: initial;
}

.rowFile {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileInput {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.fileInputButton {
    width: 80vw;
    padding: 0.8rem;
    border: none;
    border-radius: 5px 5px;
    background-color: var(--color-secondary-three);
    color: var(--color-background);
    cursor: pointer;
}

.fileTable {
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: left;
    padding: 1rem;
}

.optionIcon {
    width: 20%;
}

.fileIcon,
.fileRead,
.fileDelete {
    font-size: 20pt;
    padding: 0.2rem;
}

.fileIcon {
    color: var(--color-primary-one);
}

.fileRead {
    color: var(--color-primary-five);
}

.fileDelete {
    color: var(--color-secondary-three);
}

.button {
    margin-top: 5%;
    padding: 0.8rem;
    border: none;
    background-color: var(--color-primary-five);
    color: var(--color-background);
    opacity: 80%;
}

@media (min-width: 1440px) {
    hr {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    hr {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    hr {
        display: none;
    }
}