/*--- switch ---*/

.switch{
    position: relative;
    display: inline-block;
    width: 62px;
    height: 34px;
  }

  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider{
    position: absolute;
    cursor: pointer;
    border-radius: 50px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: none;
    border: 2px solid #8A8A8A;
  }

  .slider:before{
    position: absolute;
    border-radius: 50px;
    content: "";
    height: 24px;
    width: 26px;
    left: 3px;
    bottom: 3px;
    background-color: #5CA84D;
    transition: 0.4s;
  }

  input:checked + .slider:before{
    background-color: #DE3C3C;
  }

  input:checked + .slider:before{
    transform: translateX(26px);
  }
  


