* {
  transition: all 0.6s ease;
}


.maincontainer {
  max-width: 100%;
  margin-top: 2rem;
}

.search {
  width: 4rem;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 15px;
  background-color: #D9D9D9;
  border-radius: 50px;
}

.addsearch {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
}

.addbtn {
  width: 5rem;
  height: 33px;
  background: var(--color-primary-five);
  border-radius: 1rem;
  color: white;
  font-weight: 400;
}

input#search {
  max-width: 1rem;
  background: transparent;
}

.table {
  margin: 0 auto;
  background-color: white;
  max-width: 85%;
  min-width: 85%;
  min-height: 24rem;
  max-height: 24rem;
  overflow: scroll;
  box-shadow: 0px 1px 17px 1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.title h6 {
  font-weight: bolder;
  margin-top: 4rem;
  margin-left: 3rem;
}


/* ally */

th,
tr,
td {
  padding: 0.5rem 0.5rem;
}

th {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  background-color: var(--color-primary-three);
  color: white;
}

tr {
  font-family: var(--font);
  font-size: 12px;
  text-align: left;
  margin-bottom: 3rem;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.pages {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.pagesbtn {
  width: 5rem;
  height: 2rem;
  background: none;
  border: 1px solid #8A8A8A;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

button {
  background: none;
}

/* BIG DESKTOP */
@media (min-width: 1440px) {
  .search {
    width: 15rem;
  }

  input#search {
    max-width: 12rem;
    background: transparent;
  }

  .table{
    min-height: 55rem;
    max-height: 55rem;
  }

  th {
    font-size: 16px;
    padding: 0 1rem;
  }

  tr {
    font-size: 14px;
    padding: 1rem 2rem;
  }
}

/* STANDARD DESKTOP */
@media (min-width: 1024px) and (max-width: 1439px) {
  .search {
    width: 15rem;
  }

  input#search {
    max-width: 12rem;
    background: transparent;
  }

  .table{
    min-height: 25rem;
    max-height: 25rem;
  }

  th {
    font-size: 14px;
    padding: 0.50rem 2rem;
  }

  tr {
    font-size: 12px;
    padding: 1rem 2rem;
  }
}

/* TABLET  */
@media (min-width: 767px) and (max-width: 1023px) {
  .search {
    width: 15rem;
  }

  input#search {
    max-width: 12rem;
    background: transparent;
  }

  .table{
    min-height: 40rem;
    max-height: 40rem;
  }

  th {
    font-size: 14px;
  }

  tr {
    font-size: 12px;
  }
}