* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

a {
    color: inherit;
}

#header{
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main{
    width: 100%;
    display: flex;
}

.section1 {
    width: 50%;
    display: flex;
    align-items: flex-end;
}

#menu{
    border-style: none;
    color: blue;
}

.section2 {
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
}

.logo {
    width: 8rem;

}

.message {
    width: 6rem;
    font-weight: bold;
    font-size: 12px;
}

.navbar-s button {
    border: none;
    background-color: gainsboro;
}

.navbar-s button:focus {
    box-shadow: none;
}

.navbar-s button:hover {
    transform: scale(1.1);
}

.navbar-s .text:hover {
    transform: scale(1.2);
}

.icon-s {
    color: #558AF2;
}

.navbar-items-s {
    font-weight: 500;
    font-size: large;
    align-items: center;
}

.hr-s {
    width: 100%;
}

.colorbar{
    width: 80%;
}

@media (min-width: 1440px) {
    .navbar-s {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section1 {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .section2 {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        width: 15rem;
        margin-left: -5%;
    }

    .message-s {
        font-size: x-large;
    }

    .navbar-items-s {
        font-weight: 500;
        font-size: x-large;
        align-items: center;
    }

    .hr-s {
        width: 100vw;
    }
}

@media (min-width: 1024px) and (max-width: 1930px) {
    .navbar-s {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section1 {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .section2 {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        width: 15rem;
        margin-left: -10%;
    }

    .message-s {
        margin-left: -5%;
        font-size: large;
    }

    .navbar-items-s {
        font-weight: 500;
        font-size: large;
        align-items: center;
    }

    .hr-s {
        width: 100vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-s {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section1 {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .section2 {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        margin-left: -15%;
    }

    .message-s {
        margin-left: -10%;
    }
}