*{
    width: 100%;
}

.me-auto{
display: flex; 
align-items: center;
}

/*logo*/

.logo{
   width: 7%;
   height: 10%;
}

.imgcerrar{
    width: 32px !important;
    height: 32px !important;
}
.sesion{
    display: flex;
    justify-content: space-around;
}

/*si la pantalla es mayor a 830*/
@media screen (min-width 830px){
    .logo{
        width: 20px !important;
        height: 20px !important;
    }