*{
    width: 100%;
}

.me-auto{
display: flex; 
align-items: center;
}

/*logo*/

.logo{
   width: 7%;
   height: 10%;
}

.imgcerrar{
    width: 32px;
    height: 32px ;
}
.sesion{
    display: flex;
    justify-content: space-around;
}

/*si la pantalla es mayor a 830*/
@media  (min-width: 830px){
    #logo{
        width: 500px ;
        height: 500px;
    }
}