.containerForm {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-six);
    padding: 3rem;
    border-radius: 1rem;
}

.formEvent {
    padding: 1rem 10rem;
}

.FormTitle {
    margin-left: 1rem;
    color: var(--color-tertiary-three);
}

.formTitleH {
    font-size: 1.5rem;
    font-weight: bolder;
}

.formTitleP {
    font-size: medium;
    font-weight: medium;
}

.FormRequired {
    font-size: larger;
    font-weight: bolder;
    color: var(--color-secondary-three);
}

.FormEvent label {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: medium;
    font-weight: bold;
    color: var(--color-tertiary-three);
}

.FormInput {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-primary-one);
    background-color: var(--color-secondary-six);    
}

.formButton {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--color-primary-five);
    color: var(--color-background);
}



@media (min-width: 1440px) {
    .containerForm{
        margin-top: 10rem;
        margin-bottom: 11rem;
    }

    .formTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formTitleP {
        margin-left: 1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .formTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formTitleP {
        margin-left: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .containerForm{
        margin-top: 5rem;
        margin-bottom: 7rem;
    }
    .formTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formEvent {
        padding: 1rem 5rem;
    }

    .formTitleP {
        margin-left: 1rem;
    }
}