* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
}

#container-login {
  min-width: 60vw;
  min-height: 80vh;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 15rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
}

label {
  color: #193660;
}

input {
  margin-top: 20px;
  width: 100%;
  background-color: #f9f9f9;
}

#sendButton {
  background-color: #5584F2;
  color: #ffff;
  width: 100%;
  border-radius: 5px 5px;
}

@media (min-width: 1440px) {
  .logo {
    width: 30rem;
  }

  #container-login {
    min-width: 60vw;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .logo {
    width: 25rem;
  }

  #container-login {
    min-width: 50vw;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .logo {
    width: 20rem;
  }
  
  #container-login {
    min-width: 70vw;
  }
}