#encabezado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
  flex-wrap: wrap;
  padding: 0%;
  margin-left: 6%;
  margin-top: 5%;
}
 #boton{
    background-color: orangered;
    border-radius: 12%;
   width: 45px;
   height: 25px;
   color: white;
 }


#spacecontenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    
}

#section1{
    width: 40%;
    
}

#section2{
    background-color: rgb(35, 58, 136);
    color: white;
    width: 60%;
}

#iconos{
    display: flex;
    width: 10%;
    padding: 0%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 760px){
#spacecontenedor{
    display: flex;
    flex-direction: column;
}
}   